WARNING: for repeatability, setting FPU to use double precision
============================[ Problem Statistics ]=============================
|                                                                             |
|  Number of symmetries:          33                                          |
|  Number of invertingSyms:        0                                          |
|  Number of variables:           306                                         |
|  Number of clauses:            2619                                         |
|  Parse time:                   0.00 s                                       |
|                                                                             |
============================[ Search Statistics ]==============================
| Conflicts |          ORIGINAL         |          LEARNT          | Progress |
|           |    Vars  Clauses Literals |    Limit  Clauses Lit/Cl |          |
===============================================================================
|       100 |     306     2619     5508 |      960      111     99 |  0.001 % |
|       250 |     306     2619     5508 |     1056      431     74 |  0.001 % |
|       475 |     306     2619     5508 |     1161      782     84 |  0.001 % |
|       812 |     306     2619     5508 |     1278      683     82 |  0.001 % |
|      1318 |     306     2619     5508 |     1405     1005     86 |  0.001 % |
|      2077 |     306     2619     5508 |     1546      974    104 |  0.001 % |
|      3216 |     306     2619     5508 |     1701     1106    116 |  0.001 % |
|      4924 |     306     2619     5508 |     1871     1583    116 |  0.001 % |
|      7486 |     306     2619     5508 |     2058     1836    122 |  0.001 % |
|     11330 |     306     2619     5508 |     2264     1182    116 |  0.001 % |
|     17096 |     306     2619     5508 |     2490     2266    116 |  0.001 % |
|     25745 |     306     2619     5508 |     2739     1465    109 |  0.001 % |
|     38719 |     306     2619     5508 |     3013     1717     99 |  0.001 % |
|     58180 |     306     2619     5508 |     3315     3158    111 |  0.001 % |
|     87372 |     306     2619     5508 |     3646     2750    101 |  0.001 % |
|    131161 |     306     2619     5508 |     4011     2020    123 |  0.001 % |
|    196845 |     306     2619     5508 |     4412     3212    129 |  0.001 % |
|    295371 |     306     2619     5508 |     4853     2780    117 |  0.001 % |
|    443160 |     306     2619     5508 |     5339     4559    113 |  0.001 % |
|    664843 |     306     2619     5508 |     5873     3388    112 |  0.001 % |
|    997368 |     306     2619     5508 |     6460     4012    126 |  0.001 % |
|   1496156 |     306     2619     5508 |     7106     5895    120 |  0.001 % |
|   2244338 |     306     2619     5508 |     7817     6448    111 |  0.001 % |
|   3366612 |     306     2619     5508 |     8598     7042    128 |  0.001 % |
|   5050023 |     306     2619     5508 |     9458     5011     95 |  0.001 % |
===============================================================================
restarts              : 8222
conflicts             : 5340742        (17776 /sec)
symconflicts          : 494415         (1646 /sec)
decisions             : 8548086        (0.00 % random) (28452 /sec)
propagations          : 114469195      (381005 /sec)
sympropagations       : 2932468        (9761 /sec)
conflict literals     : 639779411      (6.95 % deleted)
Memory used           : 34.00 MB
CPU time              : 300.44 s

UNSATISFIABLE
