WARNING: for repeatability, setting FPU to use double precision
============================[ Problem Statistics ]=============================
|                                                                             |
|  Number of symmetries:          27                                          |
|  Number of invertingSyms:        0                                          |
|  Number of variables:           210                                         |
|  Number of clauses:            1485                                         |
|  Parse time:                   0.00 s                                       |
|                                                                             |
============================[ Search Statistics ]==============================
| Conflicts |          ORIGINAL         |          LEARNT          | Progress |
|           |    Vars  Clauses Literals |    Limit  Clauses Lit/Cl |          |
===============================================================================
|       100 |     210     1485     3150 |      544      115     85 |  0.002 % |
|       250 |     210     1485     3150 |      598      335     66 |  0.002 % |
|       475 |     210     1485     3150 |      658      621     71 |  0.002 % |
|       812 |     210     1485     3150 |      724      377     67 |  0.002 % |
|      1318 |     210     1485     3150 |      797      558     72 |  0.002 % |
|      2077 |     210     1485     3150 |      876      634     66 |  0.002 % |
|      3216 |     210     1485     3150 |      964      690     69 |  0.002 % |
|      4924 |     210     1485     3150 |     1061      985     77 |  0.002 % |
|      7486 |     210     1485     3150 |     1167      830     71 |  0.002 % |
|     11330 |     210     1485     3150 |     1283      971     77 |  0.002 % |
|     17096 |     210     1485     3150 |     1412     1306     75 |  0.002 % |
|     25745 |     210     1485     3150 |     1553      862     78 |  0.002 % |
|     38719 |     210     1485     3150 |     1708     1315     66 |  0.002 % |
|     58180 |     210     1485     3150 |     1879     1815     65 |  0.002 % |
|     87372 |     210     1485     3150 |     2067     1096     63 |  0.002 % |
|    131161 |     210     1485     3150 |     2274     2149     70 |  0.002 % |
===============================================================================
restarts              : 464
conflicts             : 170645         (42555 /sec)
symconflicts          : 20370          (5080 /sec)
decisions             : 276598         (0.00 % random) (68977 /sec)
propagations          : 3697929        (922177 /sec)
sympropagations       : 121851         (30387 /sec)
conflict literals     : 12727872       (6.05 % deleted)
Memory used           : 6.00 MB
CPU time              : 4.01 s

UNSATISFIABLE
