WARNING: for repeatability, setting FPU to use double precision
============================[ Problem Statistics ]=============================
|                                                                             |
|  Number of symmetries:          31                                          |
|  Number of invertingSyms:        0                                          |
|  Number of variables:           272                                         |
|  Number of clauses:            2193                                         |
|  Parse time:                   0.00 s                                       |
|                                                                             |
============================[ Search Statistics ]==============================
| Conflicts |          ORIGINAL         |          LEARNT          | Progress |
|           |    Vars  Clauses Literals |    Limit  Clauses Lit/Cl |          |
===============================================================================
|       100 |     272     2193     4624 |      804      112    106 |  0.001 % |
|       250 |     272     2193     4624 |      884      327    108 |  0.001 % |
|       475 |     272     2193     4624 |      972      658    106 |  0.001 % |
|       812 |     272     2193     4624 |     1070      613    102 |  0.001 % |
|      1318 |     272     2193     4624 |     1177      746     96 |  0.001 % |
|      2077 |     272     2193     4624 |     1295     1121    100 |  0.001 % |
|      3216 |     272     2193     4624 |     1424     1268     98 |  0.001 % |
|      4924 |     272     2193     4624 |     1566     1466     96 |  0.001 % |
|      7486 |     272     2193     4624 |     1723     1061    109 |  0.001 % |
|     11330 |     272     2193     4624 |     1896     1492    102 |  0.001 % |
|     17096 |     272     2193     4624 |     2085     1564     99 |  0.001 % |
|     25745 |     272     2193     4624 |     2294     1810     95 |  0.001 % |
|     38719 |     272     2193     4624 |     2523     1668     96 |  0.001 % |
|     58180 |     272     2193     4624 |     2775     2505     73 |  0.001 % |
|     87372 |     272     2193     4624 |     3053     1585    103 |  0.001 % |
|    131161 |     272     2193     4624 |     3358     2878    108 |  0.001 % |
|    196845 |     272     2193     4624 |     3694     3006    101 |  0.001 % |
|    295371 |     272     2193     4624 |     4064     2401    103 |  0.001 % |
|    443160 |     272     2193     4624 |     4470     2442     79 |  0.001 % |
|    664843 |     272     2193     4624 |     4917     2323     90 |  0.001 % |
|    997368 |     272     2193     4624 |     5409     2587     51 |  0.001 % |
===============================================================================
restarts              : 2046
conflicts             : 1002127        (25815 /sec)
symconflicts          : 101522         (2615 /sec)
decisions             : 1662467        (0.00 % random) (42825 /sec)
propagations          : 21403944       (551364 /sec)
sympropagations       : 605699         (15603 /sec)
conflict literals     : 101649894      (7.14 % deleted)
Memory used           : 14.00 MB
CPU time              : 38.82 s

UNSATISFIABLE
