WARNING: for repeatability, setting FPU to use double precision
============================[ Problem Statistics ]=============================
|                                                                             |
|  Number of symmetries:          11                                          |
|  Number of invertingSyms:        0                                          |
|  Number of variables:            42                                         |
|  Number of clauses:             133                                         |
|  Parse time:                   0.00 s                                       |
|                                                                             |
============================[ Search Statistics ]==============================
| Conflicts |          ORIGINAL         |          LEARNT          | Progress |
|           |    Vars  Clauses Literals |    Limit  Clauses Lit/Cl |          |
===============================================================================
===============================================================================
restarts              : 1
conflicts             : 82             (inf /sec)
symconflicts          : 10             (inf /sec)
decisions             : 95             (0.00 % random) (inf /sec)
propagations          : 1223           (inf /sec)
sympropagations       : 55             (inf /sec)
conflict literals     : 1088           (2.60 % deleted)
Memory used           : 5.00 MB
CPU time              : 0 s

UNSATISFIABLE
