WARNING: for repeatability, setting FPU to use double precision
============================[ Problem Statistics ]=============================
|                                                                             |
|  Number of symmetries:          25                                          |
|  Number of invertingSyms:        0                                          |
|  Number of variables:           182                                         |
|  Number of clauses:            1197                                         |
|  Parse time:                   0.00 s                                       |
|                                                                             |
============================[ Search Statistics ]==============================
| Conflicts |          ORIGINAL         |          LEARNT          | Progress |
|           |    Vars  Clauses Literals |    Limit  Clauses Lit/Cl |          |
===============================================================================
|       100 |     182     1197     2548 |      438      106     81 |  0.003 % |
|       250 |     182     1197     2548 |      482      308     70 |  0.003 % |
|       475 |     182     1197     2548 |      531      406     68 |  0.003 % |
|       812 |     182     1197     2548 |      584      352     61 |  0.003 % |
|      1318 |     182     1197     2548 |      642      486     61 |  0.003 % |
|      2077 |     182     1197     2548 |      706      639     61 |  0.003 % |
|      3216 |     182     1197     2548 |      777      443     49 |  0.003 % |
|      4924 |     182     1197     2548 |      855      480     44 |  0.003 % |
|      7486 |     182     1197     2548 |      940      555     49 |  0.003 % |
|     11330 |     182     1197     2548 |     1034      812     60 |  0.003 % |
|     17096 |     182     1197     2548 |     1138      880     66 |  0.003 % |
|     25745 |     182     1197     2548 |     1252      747     51 |  0.003 % |
|     38719 |     182     1197     2548 |     1377     1122     44 |  0.003 % |
===============================================================================
restarts              : 139
conflicts             : 46722          (56978 /sec)
symconflicts          : 6805           (8299 /sec)
decisions             : 77914          (0.00 % random) (95017 /sec)
propagations          : 1024429        (1249304 /sec)
sympropagations       : 44732          (54551 /sec)
conflict literals     : 3010609        (6.23 % deleted)
Memory used           : 6.00 MB
CPU time              : 0.82 s

UNSATISFIABLE
