WARNING: for repeatability, setting FPU to use double precision
============================[ Problem Statistics ]=============================
|                                                                             |
|  Number of symmetries:          13                                          |
|  Number of invertingSyms:        0                                          |
|  Number of variables:            56                                         |
|  Number of clauses:             204                                         |
|  Parse time:                   0.00 s                                       |
|                                                                             |
============================[ Search Statistics ]==============================
| Conflicts |          ORIGINAL         |          LEARNT          | Progress |
|           |    Vars  Clauses Literals |    Limit  Clauses Lit/Cl |          |
===============================================================================
|       100 |      56      204      448 |       74      104     20 |  0.032 % |
===============================================================================
restarts              : 2
conflicts             : 129            (inf /sec)
symconflicts          : 13             (inf /sec)
decisions             : 197            (0.00 % random) (inf /sec)
propagations          : 2079           (inf /sec)
sympropagations       : 108            (inf /sec)
conflict literals     : 2454           (3.46 % deleted)
Memory used           : 5.00 MB
CPU time              : 0 s

UNSATISFIABLE
