WARNING: for repeatability, setting FPU to use double precision
============================[ Problem Statistics ]=============================
|                                                                             |
|  Number of symmetries:          23                                          |
|  Number of invertingSyms:        0                                          |
|  Number of variables:           156                                         |
|  Number of clauses:             949                                         |
|  Parse time:                   0.00 s                                       |
|                                                                             |
============================[ Search Statistics ]==============================
| Conflicts |          ORIGINAL         |          LEARNT          | Progress |
|           |    Vars  Clauses Literals |    Limit  Clauses Lit/Cl |          |
===============================================================================
|       100 |     156      949     2028 |      347      114     68 |  0.004 % |
|       250 |     156      949     2028 |      382      331     55 |  0.004 % |
|       475 |     156      949     2028 |      421      405     44 |  0.004 % |
|       812 |     156      949     2028 |      463      444     51 |  0.004 % |
|      1318 |     156      949     2028 |      509      248     44 |  0.004 % |
|      2077 |     156      949     2028 |      560      523     51 |  0.004 % |
|      3216 |     156      949     2028 |      616      607     50 |  0.004 % |
|      4924 |     156      949     2028 |      678      324     48 |  0.004 % |
|      7486 |     156      949     2028 |      745      689     46 |  0.004 % |
|     11330 |     156      949     2028 |      820      819     49 |  0.004 % |
|     17096 |     156      949     2028 |      902      803     49 |  0.004 % |
|     25745 |     156      949     2028 |      992      682     47 |  0.004 % |
===============================================================================
restarts              : 108
conflicts             : 29749          (69184 /sec)
symconflicts          : 3908           (9088 /sec)
decisions             : 49570          (0.00 % random) (115279 /sec)
propagations          : 628402         (1461400 /sec)
sympropagations       : 23113          (53751 /sec)
conflict literals     : 1720035        (5.13 % deleted)
Memory used           : 6.00 MB
CPU time              : 0.43 s

UNSATISFIABLE
