WARNING: for repeatability, setting FPU to use double precision
============================[ Problem Statistics ]=============================
|                                                                             |
|  Number of variables:           783                                         |
|  Number of clauses:            4144                                         |
|  Parse time:                   0.00 s                                       |
|                                                                             |
============================[ Search Statistics ]==============================
| Conflicts |          ORIGINAL         |          LEARNT          | Progress |
|           |    Vars  Clauses Literals |    Limit  Clauses Lit/Cl |          |
===============================================================================
===============================================================================
restarts              : 1
conflicts             : 47             (inf /sec)
decisions             : 228            (0.00 % random) (inf /sec)
propagations          : 3050           (inf /sec)
conflict literals     : 374            (32.12 % deleted)
Memory used           : 6.00 MB
CPU time              : 0 s

UNSATISFIABLE
