WARNING: for repeatability, setting FPU to use double precision
============================[ Problem Statistics ]=============================
|                                                                             |
|  Number of symmetries:          27                                          |
|  Number of invertingSyms:        0                                          |
|  Number of variables:           210                                         |
|  Number of clauses:            1485                                         |
|  Parse time:                   0.00 s                                       |
|                                                                             |
============================[ Search Statistics ]==============================
| Conflicts |          ORIGINAL         |          LEARNT          | Progress |
|           |    Vars  Clauses Literals |    Limit  Clauses Lit/Cl |          |
===============================================================================
|       100 |     210     1485     3150 |      544      104     83 |  0.002 % |
|       250 |     210     1485     3150 |      598      322     58 |  0.002 % |
|       475 |     210     1485     3150 |      658      631     53 |  0.002 % |
|       812 |     210     1485     3150 |      724      395     46 |  0.002 % |
|      1318 |     210     1485     3150 |      797      647     62 |  0.002 % |
|      2077 |     210     1485     3150 |      876      862     52 |  0.002 % |
|      3216 |     210     1485     3150 |      964      798     71 |  0.002 % |
|      4924 |     210     1485     3150 |     1061      946     75 |  0.002 % |
|      7486 |     210     1485     3150 |     1167     1175     84 |  0.002 % |
|     11330 |     210     1485     3150 |     1283      837     85 |  0.002 % |
|     17096 |     210     1485     3150 |     1412      867     75 |  0.002 % |
|     25745 |     210     1485     3150 |     1553     1133     73 |  0.002 % |
|     38719 |     210     1485     3150 |     1708      938     73 |  0.002 % |
|     58180 |     210     1485     3150 |     1879     1717     78 |  0.002 % |
|     87372 |     210     1485     3150 |     2067     1724     75 |  0.002 % |
|    131161 |     210     1485     3150 |     2274     1333     68 |  0.002 % |
|    196845 |     210     1485     3150 |     2501     1633     79 |  0.002 % |
|    295371 |     210     1485     3150 |     2752     1950     67 |  0.002 % |
|    443160 |     210     1485     3150 |     3027     2508     60 |  0.002 % |
|    664843 |     210     1485     3150 |     3330     2553     74 |  0.002 % |
|    997368 |     210     1485     3150 |     3663     1946     71 |  0.002 % |
|   1496156 |     210     1485     3150 |     4029     2803     77 |  0.002 % |
|   2244338 |     210     1485     3150 |     4432     2660     87 |  0.002 % |
===============================================================================
restarts              : 4095
conflicts             : 2460640        (42345 /sec)
symconflicts          : 219266         (3773 /sec)
decisions             : 3931997        (0.00 % random) (67665 /sec)
propagations          : 47527398       (817887 /sec)
sympropagations       : 778640         (13399 /sec)
conflict literals     : 195263659      (6.84 % deleted)
Memory used           : 12.00 MB
CPU time              : 58.11 s

UNSATISFIABLE
