WARNING: for repeatability, setting FPU to use double precision
============================[ Problem Statistics ]=============================
|                                                                             |
|  Number of symmetries:          29                                          |
|  Number of invertingSyms:        0                                          |
|  Number of variables:           240                                         |
|  Number of clauses:            1816                                         |
|  Parse time:                   0.00 s                                       |
|                                                                             |
============================[ Search Statistics ]==============================
| Conflicts |          ORIGINAL         |          LEARNT          | Progress |
|           |    Vars  Clauses Literals |    Limit  Clauses Lit/Cl |          |
===============================================================================
|       100 |     240     1816     3840 |      665      102    108 |  0.002 % |
|       250 |     240     1816     3840 |      732      283     88 |  0.002 % |
|       475 |     240     1816     3840 |      805      536     93 |  0.002 % |
|       812 |     240     1816     3840 |      886      480     75 |  0.002 % |
|      1318 |     240     1816     3840 |      974      602     77 |  0.002 % |
|      2077 |     240     1816     3840 |     1072      663     67 |  0.002 % |
|      3216 |     240     1816     3840 |     1179      590     66 |  0.002 % |
|      4924 |     240     1816     3840 |     1297      979     81 |  0.002 % |
|      7486 |     240     1816     3840 |     1427      870     79 |  0.002 % |
|     11330 |     240     1816     3840 |     1570     1457     66 |  0.002 % |
|     17096 |     240     1816     3840 |     1727     1105     78 |  0.002 % |
|     25745 |     240     1816     3840 |     1899     1051     93 |  0.002 % |
|     38719 |     240     1816     3840 |     2089     1222     78 |  0.002 % |
|     58180 |     240     1816     3840 |     2298     1174     92 |  0.002 % |
|     87372 |     240     1816     3840 |     2528     1868     89 |  0.002 % |
|    131161 |     240     1816     3840 |     2781     2037     80 |  0.002 % |
|    196845 |     240     1816     3840 |     3059     2097    117 |  0.002 % |
|    295371 |     240     1816     3840 |     3365     1648     81 |  0.002 % |
|    443160 |     240     1816     3840 |     3702     3444     90 |  0.002 % |
|    664843 |     240     1816     3840 |     4072     2650     86 |  0.002 % |
|    997368 |     240     1816     3840 |     4479     3077    124 |  0.002 % |
|   1496156 |     240     1816     3840 |     4927     3108     92 |  0.002 % |
|   2244338 |     240     1816     3840 |     5420     3666     89 |  0.002 % |
|   3366612 |     240     1816     3840 |     5962     3781     90 |  0.002 % |
|   5050023 |     240     1816     3840 |     6558     5195     88 |  0.002 % |
|   7575139 |     240     1816     3840 |     7214     6722     91 |  0.002 % |
===============================================================================
restarts              : 16381
conflicts             : 10194610       (27791 /sec)
symconflicts          : 853365         (2326 /sec)
decisions             : 16230179       (0.00 % random) (44244 /sec)
propagations          : 193662533      (527935 /sec)
sympropagations       : 2971988        (8102 /sec)
conflict literals     : 951743024      (6.77 % deleted)
Memory used           : 27.00 MB
CPU time              : 366.83 s

UNSATISFIABLE
