WARNING: for repeatability, setting FPU to use double precision
============================[ Problem Statistics ]=============================
|                                                                             |
|  Number of symmetries:          19                                          |
|  Number of invertingSyms:        0                                          |
|  Number of variables:           110                                         |
|  Number of clauses:             561                                         |
|  Parse time:                   0.00 s                                       |
|                                                                             |
============================[ Search Statistics ]==============================
| Conflicts |          ORIGINAL         |          LEARNT          | Progress |
|           |    Vars  Clauses Literals |    Limit  Clauses Lit/Cl |          |
===============================================================================
|       100 |     110      561     1210 |      205      102     44 |  0.008 % |
|       250 |     110      561     1210 |      226      156     37 |  0.008 % |
|       475 |     110      561     1210 |      248      275     37 |  0.008 % |
|       812 |     110      561     1210 |      273      229     34 |  0.008 % |
|      1318 |     110      561     1210 |      301      194     31 |  0.008 % |
|      2077 |     110      561     1210 |      331      340     31 |  0.008 % |
|      3216 |     110      561     1210 |      364      320     28 |  0.008 % |
|      4924 |     110      561     1210 |      400      292     32 |  0.008 % |
|      7486 |     110      561     1210 |      440      317     30 |  0.008 % |
===============================================================================
restarts              : 44
conflicts             : 9883           (141186 /sec)
symconflicts          : 1188           (16971 /sec)
decisions             : 16305          (0.00 % random) (232929 /sec)
propagations          : 166083         (2372614 /sec)
sympropagations       : 4243           (60614 /sec)
conflict literals     : 358847         (6.44 % deleted)
Memory used           : 5.00 MB
CPU time              : 0.07 s

UNSATISFIABLE
