WARNING: for repeatability, setting FPU to use double precision
============================[ Problem Statistics ]=============================
|                                                                             |
|  Number of symmetries:          25                                          |
|  Number of invertingSyms:        0                                          |
|  Number of variables:           182                                         |
|  Number of clauses:            1197                                         |
|  Parse time:                   0.00 s                                       |
|                                                                             |
============================[ Search Statistics ]==============================
| Conflicts |          ORIGINAL         |          LEARNT          | Progress |
|           |    Vars  Clauses Literals |    Limit  Clauses Lit/Cl |          |
===============================================================================
|       100 |     182     1197     2548 |      438      101     82 |  0.003 % |
|       250 |     182     1197     2548 |      482      262     78 |  0.003 % |
|       475 |     182     1197     2548 |      531      528     72 |  0.003 % |
|       812 |     182     1197     2548 |      584      299     46 |  0.003 % |
|      1318 |     182     1197     2548 |      642      365     48 |  0.003 % |
|      2077 |     182     1197     2548 |      706      669     66 |  0.003 % |
|      3216 |     182     1197     2548 |      777      401     66 |  0.003 % |
|      4924 |     182     1197     2548 |      855      803     69 |  0.003 % |
|      7486 |     182     1197     2548 |      940      912     64 |  0.003 % |
|     11330 |     182     1197     2548 |     1034      849     67 |  0.003 % |
|     17096 |     182     1197     2548 |     1138      731     57 |  0.003 % |
|     25745 |     182     1197     2548 |     1252      846     67 |  0.003 % |
|     38719 |     182     1197     2548 |     1377      782     62 |  0.003 % |
|     58180 |     182     1197     2548 |     1515      825     54 |  0.003 % |
|     87372 |     182     1197     2548 |     1666     1136     67 |  0.003 % |
|    131161 |     182     1197     2548 |     1833     1397     64 |  0.003 % |
|    196845 |     182     1197     2548 |     2016     1757     65 |  0.003 % |
|    295371 |     182     1197     2548 |     2218     1570     47 |  0.003 % |
|    443160 |     182     1197     2548 |     2440     1493     59 |  0.003 % |
===============================================================================
restarts              : 1023
conflicts             : 491245         (61482 /sec)
symconflicts          : 48088          (6019 /sec)
decisions             : 796244         (0.00 % random) (99655 /sec)
propagations          : 9362671        (1171799 /sec)
sympropagations       : 175190         (21926 /sec)
conflict literals     : 32440469       (6.61 % deleted)
Memory used           : 6.00 MB
CPU time              : 7.99 s

UNSATISFIABLE
