WARNING: for repeatability, setting FPU to use double precision
============================[ Problem Statistics ]=============================
|                                                                             |
|  Number of symmetries:          21                                          |
|  Number of invertingSyms:        0                                          |
|  Number of variables:           132                                         |
|  Number of clauses:             738                                         |
|  Parse time:                   0.00 s                                       |
|                                                                             |
============================[ Search Statistics ]==============================
| Conflicts |          ORIGINAL         |          LEARNT          | Progress |
|           |    Vars  Clauses Literals |    Limit  Clauses Lit/Cl |          |
===============================================================================
|       100 |     132      738     1584 |      270      100     56 |  0.006 % |
|       250 |     132      738     1584 |      297      289     51 |  0.069 % |
|       475 |     132      738     1584 |      327      359     43 |  0.006 % |
|       812 |     132      738     1584 |      360      294     40 |  0.006 % |
|      1318 |     132      738     1584 |      396      347     42 |  0.006 % |
|      2077 |     132      738     1584 |      435      399     42 |  0.006 % |
|      3216 |     132      738     1584 |      479      498     41 |  0.006 % |
|      4924 |     132      738     1584 |      527      495     44 |  0.006 % |
|      7486 |     132      738     1584 |      580      386     41 |  0.006 % |
|     11330 |     132      738     1584 |      638      413     40 |  0.006 % |
|     17096 |     132      738     1584 |      701      593     42 |  0.006 % |
|     25745 |     132      738     1584 |      772      439     37 |  0.006 % |
===============================================================================
restarts              : 126
conflicts             : 36154          (106335 /sec)
symconflicts          : 3673           (10803 /sec)
decisions             : 56687          (0.00 % random) (166726 /sec)
propagations          : 658416         (1936518 /sec)
sympropagations       : 12022          (35359 /sec)
conflict literals     : 1605750        (5.89 % deleted)
Memory used           : 5.00 MB
CPU time              : 0.34 s

UNSATISFIABLE
