WARNING: for repeatability, setting FPU to use double precision
============================[ Problem Statistics ]=============================
|                                                                             |
|  Number of symmetries:          27                                          |
|  Number of invertingSyms:        0                                          |
|  Number of variables:           210                                         |
|  Number of clauses:            1485                                         |
|  Parse time:                   0.00 s                                       |
|                                                                             |
============================[ Search Statistics ]==============================
| Conflicts |          ORIGINAL         |          LEARNT          | Progress |
|           |    Vars  Clauses Literals |    Limit  Clauses Lit/Cl |          |
===============================================================================
|       100 |     210     1485     3150 |      544      100     79 |  0.002 % |
|       250 |     210     1485     3150 |      598      250     67 |  0.002 % |
|       475 |     210     1485     3150 |      658      475     65 |  0.002 % |
|       812 |     210     1485     3150 |      724      410     51 |  0.002 % |
|      1318 |     210     1485     3150 |      797      515     49 |  0.034 % |
|      2077 |     210     1485     3150 |      876      470     48 |  0.002 % |
|      3216 |     210     1485     3150 |      964      586     52 |  0.002 % |
|      4924 |     210     1485     3150 |     1061      706     65 |  0.002 % |
|      7486 |     210     1485     3150 |     1167      932     77 |  0.002 % |
|     11330 |     210     1485     3150 |     1283     1035     81 |  0.002 % |
|     17096 |     210     1485     3150 |     1412     1254     60 |  0.002 % |
|     25745 |     210     1485     3150 |     1553      819     79 |  0.002 % |
|     38719 |     210     1485     3150 |     1708     1446     77 |  0.002 % |
|     58180 |     210     1485     3150 |     1879      980     77 |  0.002 % |
|     87372 |     210     1485     3150 |     2067     1651     72 |  0.002 % |
|    131161 |     210     1485     3150 |     2274     1102     64 |  0.002 % |
|    196845 |     210     1485     3150 |     2501     1686     62 |  0.002 % |
|    295371 |     210     1485     3150 |     2752     2542     80 |  0.002 % |
|    443160 |     210     1485     3150 |     3027     1988     75 |  0.002 % |
|    664843 |     210     1485     3150 |     3330     2125     87 |  0.002 % |
|    997368 |     210     1485     3150 |     3663     3167     80 |  0.002 % |
|   1496156 |     210     1485     3150 |     4029     2608     82 |  0.002 % |
|   2244338 |     210     1485     3150 |     4432     2149     69 |  0.002 % |
|   3366612 |     210     1485     3150 |     4875     2803     80 |  0.002 % |
|   5050023 |     210     1485     3150 |     5363     4952     81 |  0.002 % |
|   7575139 |     210     1485     3150 |     5899     4355     90 |  0.002 % |
|  11362814 |     210     1485     3150 |     6489     5080     80 |  0.002 % |
|  17044326 |     210     1485     3150 |     7138     4522     78 |  0.002 % |
===============================================================================
restarts              : 32766
conflicts             : 22756336       (28266 /sec)
symconflicts          : 2902986        (3606 /sec)
decisions             : 36760612       (0.00 % random) (45660 /sec)
propagations          : 421799073      (523915 /sec)
sympropagations       : 12468900       (15488 /sec)
conflict literals     : 1844628623     (7.85 % deleted)
Memory used           : 26.00 MB
CPU time              : 805.09 s

UNSATISFIABLE
