WARNING: for repeatability, setting FPU to use double precision
============================[ Problem Statistics ]=============================
|                                                                             |
|  Number of symmetries:          25                                          |
|  Number of invertingSyms:        0                                          |
|  Number of variables:           182                                         |
|  Number of clauses:            1197                                         |
|  Parse time:                   0.00 s                                       |
|                                                                             |
============================[ Search Statistics ]==============================
| Conflicts |          ORIGINAL         |          LEARNT          | Progress |
|           |    Vars  Clauses Literals |    Limit  Clauses Lit/Cl |          |
===============================================================================
|       100 |     182     1197     2548 |      438      100     79 |  0.003 % |
|       250 |     182     1197     2548 |      482      250     68 |  0.003 % |
|       475 |     182     1197     2548 |      531      475     67 |  0.003 % |
|       812 |     182     1197     2548 |      584      510     59 |  0.003 % |
|      1318 |     182     1197     2548 |      642      334     44 |  0.003 % |
|      2077 |     182     1197     2548 |      706      398     44 |  0.003 % |
|      3216 |     182     1197     2548 |      777      765     58 |  0.003 % |
|      4924 |     182     1197     2548 |      855      738     59 |  0.003 % |
|      7486 |     182     1197     2548 |      940      880     67 |  0.003 % |
|     11330 |     182     1197     2548 |     1034      652     66 |  0.003 % |
|     17096 |     182     1197     2548 |     1138      828     66 |  0.003 % |
|     25745 |     182     1197     2548 |     1252      942     63 |  0.003 % |
|     38719 |     182     1197     2548 |     1377     1075     66 |  0.003 % |
|     58180 |     182     1197     2548 |     1515      789     56 |  0.003 % |
|     87372 |     182     1197     2548 |     1666      884     60 |  0.003 % |
|    131161 |     182     1197     2548 |     1833      920     66 |  0.003 % |
|    196845 |     182     1197     2548 |     2016     1384     70 |  0.003 % |
|    295371 |     182     1197     2548 |     2218     2002     54 |  0.003 % |
|    443160 |     182     1197     2548 |     2440     2149     77 |  0.003 % |
|    664843 |     182     1197     2548 |     2684     1382     68 |  0.003 % |
|    997368 |     182     1197     2548 |     2952     1617     54 |  0.003 % |
|   1496156 |     182     1197     2548 |     3247     1897     67 |  0.003 % |
|   2244338 |     182     1197     2548 |     3572     2008     51 |  0.003 % |
|   3366612 |     182     1197     2548 |     3930     3264     62 |  0.003 % |
|   5050023 |     182     1197     2548 |     4323     2130     61 |  0.003 % |
|   7575139 |     182     1197     2548 |     4755     4265     76 |  0.003 % |
===============================================================================
restarts              : 16382
conflicts             : 10554138       (39731 /sec)
symconflicts          : 1436546        (5408 /sec)
decisions             : 16993835       (0.00 % random) (63973 /sec)
propagations          : 196454053      (739550 /sec)
sympropagations       : 5976520        (22499 /sec)
conflict literals     : 721428801      (8.00 % deleted)
Memory used           : 14.00 MB
CPU time              : 265.64 s

UNSATISFIABLE
