WARNING: for repeatability, setting FPU to use double precision
============================[ Problem Statistics ]=============================
|                                                                             |
|  Number of symmetries:          21                                          |
|  Number of invertingSyms:        0                                          |
|  Number of variables:           132                                         |
|  Number of clauses:             738                                         |
|  Parse time:                   0.00 s                                       |
|                                                                             |
============================[ Search Statistics ]==============================
| Conflicts |          ORIGINAL         |          LEARNT          | Progress |
|           |    Vars  Clauses Literals |    Limit  Clauses Lit/Cl |          |
===============================================================================
|       100 |     132      738     1584 |      270      100     56 |  0.006 % |
|       250 |     132      738     1584 |      297      250     55 |  0.006 % |
|       475 |     132      738     1584 |      327      284     47 |  0.006 % |
|       812 |     132      738     1584 |      360      213     39 |  0.006 % |
|      1318 |     132      738     1584 |      396      308     41 |  0.006 % |
|      2077 |     132      738     1584 |      435      267     44 |  0.006 % |
|      3216 |     132      738     1584 |      479      425     41 |  0.006 % |
|      4924 |     132      738     1584 |      527      282     43 |  0.006 % |
|      7486 |     132      738     1584 |      580      480     45 |  0.006 % |
|     11330 |     132      738     1584 |      638      495     45 |  0.006 % |
|     17096 |     132      738     1584 |      701      690     43 |  0.006 % |
|     25745 |     132      738     1584 |      772      558     44 |  0.006 % |
|     38719 |     132      738     1584 |      849      788     45 |  0.006 % |
|     58180 |     132      738     1584 |      934      781     43 |  0.006 % |
|     87372 |     132      738     1584 |     1027      974     42 |  0.006 % |
===============================================================================
restarts              : 255
conflicts             : 95504          (94558 /sec)
symconflicts          : 15556          (15402 /sec)
decisions             : 159660         (0.00 % random) (158079 /sec)
propagations          : 1679187        (1662561 /sec)
sympropagations       : 56782          (56220 /sec)
conflict literals     : 4496783        (6.55 % deleted)
Memory used           : 6.00 MB
CPU time              : 1.01 s

UNSATISFIABLE
