WARNING: for repeatability, setting FPU to use double precision
============================[ Problem Statistics ]=============================
|                                                                             |
|  Number of symmetries:          17                                          |
|  Number of invertingSyms:        0                                          |
|  Number of variables:            90                                         |
|  Number of clauses:             415                                         |
|  Parse time:                   0.00 s                                       |
|                                                                             |
============================[ Search Statistics ]==============================
| Conflicts |          ORIGINAL         |          LEARNT          | Progress |
|           |    Vars  Clauses Literals |    Limit  Clauses Lit/Cl |          |
===============================================================================
|       100 |      90      415      900 |      152      100     33 |  0.012 % |
|       250 |      90      415      900 |      167      149     30 |  0.012 % |
|       475 |      90      415      900 |      184      168     28 |  0.012 % |
|       812 |      90      415      900 |      202      187     29 |  0.012 % |
|      1318 |      90      415      900 |      222      119     24 |  0.012 % |
|      2077 |      90      415      900 |      245      234     25 |  0.012 % |
|      3216 |      90      415      900 |      269      235     24 |  0.012 % |
|      4924 |      90      415      900 |      296      266     26 |  0.012 % |
|      7486 |      90      415      900 |      326      305     25 |  0.012 % |
===============================================================================
restarts              : 31
conflicts             : 7952           (198800 /sec)
symconflicts          : 1327           (33175 /sec)
decisions             : 12946          (0.00 % random) (323650 /sec)
propagations          : 129637         (3240925 /sec)
sympropagations       : 4575           (114375 /sec)
conflict literals     : 235909         (5.04 % deleted)
Memory used           : 5.00 MB
CPU time              : 0.04 s

UNSATISFIABLE
